html,
body{
	margin: 0;
	padding: 0;
}

body{
	/*background-image : url("fond.png");*/
	overflow: normal;
	height: 100vh;
	background: linear-gradient(0.25turn,black,#1a1c1e,#20252b,#262a33 ,#20252b,#1a1c1e,black)
	/*width: 100vh;*/
}

@font-face{
	font-family: Staatliches;
	src: url('Staatliches-Regular.ttf'),
    	 url('Staatliches-Regular.eot'); /* IE9 */
}

@font-face{
	font-family: BebasNeue;
	src: url('BebasNeue-Regular.ttf'),
    	 url('BebasNeue-Regular.eot'); /* IE9 */
}

@font-face{
	font-family: Star Wars;
	src: url('Starjedi.ttf'),
    	 url('Starjedi.eot'); /* IE9 */
}

@font-face{
	font-family: Krungthep1;
	src: url('Krungthep.ttf'),
    	 url('Krungthep.eot'); /* IE9 */
}

h1{
	color:white;
	text-align: center;
	font-size: 7vw ;
	font-family: Staatliches;
	/*background-color: rgb(255,255,255,0.3);*/
}

h2 {
	color:white;
	font-family: Trebuchet MS, sans-serif ;
}

#ligne-boutons{
	width: 100%;
}

#pagePrincipale{
	width: 100%;
	height: 100%;
}

.sticky{
	position: fixed;
	top:0;
	z-index: 2;
	background: linear-gradient(0.25turn,black,#1a1c1e,#20252b,#262a33 ,#20252b,#1a1c1e,black)
}

#sous-titre{	
	text-align: center;
}

#ligne-boutons1, #ligne-boutons2{
	margin-bottom: 0;
	margin-top: 0;
}

#ligne{
	width: 90%;
	display: table;
	margin:0 auto;/*centrage marges automatiques*/
	text-align:center;/*centre les inline qu'il contient*/
	list-style-type: none;
	writing-mode: horizontal-tb;
	/*background-color: red;*/
}
#ligne .menu{
	display: table-cell;
}
#ligne .menu .boutonMenu{
	font-family: Trebuchet MS, sans-serif ;
	/*display: inline-block;*/
	float : left;
	/*padding: 13px;*/
	/*border: 2px;*/
	color: white;
	text-decoration:none;
	text-align: center;
	transition-property : background-color color;
	transition-duration : 0.3s;
	font-size: 20px;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;

}

#ligne .menu + .menu{
	border-left: 1px solid white;
	border-image: linear-gradient(to bottom, rgba(108,219,141,0) 12%,rgb(255, 255, 255) 40%,rgb(255, 255, 255) 60%,rgba(108,219,141,0) 88%)1;
}

#ligne .menu .boutonMenu:hover{
	text-shadow: 0 0 1em black, 0 0 0.1em black;
	background: radial-gradient(circle at center, white -43%,transparent 100%)
}

#bande-demo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	margin-bottom: 50px;
}

.categorie{
	margin-top: 50px;
	margin-left: 40px;
}
.miniatures{
	width: 90%;
	margin: 0 auto;	
	text-align: center;
}
.miniatures figure{	
	display: inline-block;
}

.miniature{
	width: 400px;
}

.miniature:hover{
	/*opacity: 70%;*/
	filter:	brightness(1.25);

}
.legendes{
	margin-top: 10px;
	color: white;
	font-family: Trebuchet MS, sans-serif ;
	text-align: center;
	font-size: 20px;
}

.fenetre{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
/*	padding: 0;
*/	vertical-align:top;
	display: inline-block;
	text-align: center;
	float: left;
	z-index: 2;
	/*overflow: auto;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;
	flex-flow : row;
	align-items : stretch;
	justify-content : center;*/
}


.croix{
	/*position: absolute;*/
	margin-top: 15%;
	width: 50%;
	opacity: 0.7;
	transition-duration : 0.2s;
}

.croix:hover{
	opacity: 1;
}

#fenetre22h22, #fenetreLesGarsQuiCherchent, #fenetreVermillon, #fenetreHappiness47, #fenetreMindie, #fenetreMarionValentineTomWalker, #fenetreOpenSpace, #fenetreBlueInk, #fenetreLosingFaith, #fenetreLegoStarWars, #fenetreWallE, #fenetreLego3D, #fenetreCharlotte{
	display: none;
	position: fixed;
	top:0;
	left: 0;
}

.videoPreview{
/*	position: absolute;
	margin-top: 30px;
	margin-left: 600px;
*/	width: 85%;
	height: 100%;
	/*margin-top: 70px;*/
}
.zoneDeCroix{
	width: 5%;
	height: 100%;
	/*background-color: green;*/
	display: inline-block;
	position: fixed;
	left: 0;
	text-align: center;

}

.zoneDeTexte{
	width: 40%;
	height: 100%;
	/*background-color: red;*/
	display: inline-block;
	position: fixed;
	top: 0;
	left :5%;
}

.zoneDeVideo{
	width: 55%;
	height: 100%;
	/*background-color: blue;*/
	display: inline-block;
	position: fixed;
	right: 0;

}
/*.sousZoneDeLegende{
	margin: auto;
	overflow: hidden;
	width: 85%;
	max-height: 32%;
	border-style: solid;
	border-color: white;
	border-width: thin;

	background-color: black;
}*/
.cadreDeTexte{
	margin-top: 6vh;
	border-style: solid;
	border-color: white;
	border-width: thin;
	overflow: auto;
	max-height: 88vh;
	height: 100%;
	/*background-color: yellow;*/
}

.cadreDeVideo{
	margin-top: 6vh;	
	border-style: solid;
	/*border-color: white;*/
	border-width: thin;
	max-height: 88vh;
	height: 100%;
}
.video{
	height: 47%;
}
.zoneVide{
	height: 6%;
}
.zoneASavoir{
	height: 47%;
}

.aSavoir{
	font-size: 2.2vh;
	height: 20%;
	margin: auto;
	width: 85%;
	/*background-color: red;*/
	border-style: solid;
	border-color: white;
	border-width: thin;
	line-height: 117%;

}
.titre{
	text-align: center;
	font-size: 6vw;
	margin-top: 10%;
	margin-bottom: 10%;
}

.zoneTexteASavoir{
	margin: auto;
	/*background-color: green;*/
	overflow: scroll;
	width: 85%;
	border-style: solid;
	border-color: white;
	border-width: thin;
	height: 79.35%;
	border-top-style: none;

}

.texteDescriptif{
	padding-left:10%;
	padding-right:10%;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
	font-family: Trebuchet MS, sans-serif ;
	word-wrap : break-word;
}

#mes_roles, #avec, #equipeTechnique,#date{ 
	text-align: left;
}

.roles{
	text-align: left;
	margin-left: 10%;
	margin-top: -15px;
	white-space:nowrap;

}

.role{
	color: white;
	font-family: Trebuchet MS, sans-serif ;
}

#titre22h22{
	color : #a5cfc3;
	font-family: Courier New;
	font-weight: normal;
	font-size: 8vw;
}
#titreLesGarsQuiCherchent{
	color : #4084b8;
	font-family: Krungthep1;
	font-weight: normal;
	font-size: 5vw;

}

#titreVermillon{
	color: #ffbf00;
  	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}

#titreHappiness47{
	color: #fce232;
	font-family:BebasNeue;
	font-weight: normal;
	letter-spacing: 0.14em;
}

#titreMindie{
	color: #2bf1ff;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;

	font-weight: bold;
}

#titreMarionValentineTomWalker{
	color: #b4d5fa;
	font-family: Latha, 'Tamil MN', serif;
	font-weight: 100;
	letter-spacing: 0.04em;
	font-size: 5vw;
}

#titreOpenSpace{
	color: #cf0e0e;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	letter-spacing: -0.07em;
}

#titreBlueInk{
	color:#03336e;
}

#titreLosingFaith{
	color: #e8d6b3;
}

#titreLegoStarWars{
	color: #c42f02;
	font-family: Star Wars;
	font-size: 5vw;
}

#titreLego3D{
	color: #ff3838;
	font-family: "Futura", sans-serif;
	font-weight: normal;
}

#texteASavoir{
	text-align: justify;
}

/*#fenetreLesGarsQuiCherchent{
	display: none;
	position: fixed;
	top:0;
	left: 0;
}*/

/*.sticky + #bande-demo{
	padding-top: 102px;
}*/

@media screen and (max-width: 1000px) {
  h1 span{
  	display: none;
  }

  h1:after{
  	font-size: 15vw;
  	content: "Ruben Brami Portfolio";
  }
  h2{
  	font-size: 7vw;
  }
 
  
  #ligne{
   display: grid;
	}
  #ligne .menu .boutonMenu{
	font-family: Trebuchet MS, sans-serif ;
	/*display: inline-block;*/
	float : left;
	/*padding: 13px;*/
	/*border: 2px;*/
	color: white;
	text-decoration:none;
	text-align: center;
	transition-property : background-color color;
	transition-duration : 0.3s;
	font-size: 7vw;
	width: 100%;
  }
  #sous-titre{
  	text-align: center;
  	margin-right: 70px;
  	margin-left: 70px;
  }

  .menu{
  	margin-bottom: 10px;
  	background-color: rgba(255, 255, 255,0.18);
  	width: 400px;
  	margin-left: auto;
  	margin-right: auto;
  }

  .miniatures{
	  width: 90%;
	  margin: 0 auto;	
	  text-align: center;
	  margin-bottom: 100px;
  }

  .miniature{
	  width: 75vw;
  }

  .legendes{
	margin-top: 10px;
	color: white;
	font-family: Trebuchet MS, sans-serif ;
	text-align: center;
	font-size: 5vw;
	margin-bottom: 80px;
  }
  .categorie{
  	text-align: center;
  }

  .fenetre{
  	overflow: scroll;
  }

  .titre{
  	font-size: 18vw;
  	margin-bottom: 1%;
  }
  .texteDescriptif{
  	padding-top: 0%;
  	padding-bottom: 0%;
  	font-size: 4.5vw;
  }

  .croix{
  	width: 100px;
  	position: absolute;
  	margin-left: -49vw;
  	margin-top: 0.5vw;
  	background-color: black;
  	padding: 10px;
  	opacity: 0.95;
  	z-index: 100;
  }

  .zoneDeCroix{
	width: 100%;
	height: 0%;
	/*background-color: green;*/
	display: inline-block;
	position: relative;
	left: 0;
	text-align: center;

  }

  .zoneDeTexte{
	width: 100%;
	height: 38%;
	/*background-color: red;*/
	display: inline-block;
	position: relative;
	top: 0;
	left :0%;
  }

  .zoneDeVideo{
	width: 100%;
	height: 55%;
	/*background-color: blue;*/
	display: inline-block;
	position: relative;
	right: 0;

  }

  .cadreDeTexte{
  	margin-top: 6vw;
  	margin-left: 6vw;
  	margin-right: 6vw;
  	max-height: 100%;
  }

  .aSavoir{
  	border-style: none;
  	width: 32%;
  }
  .zoneTexteASavoir{
  	width: 87%;
  	max-height: 50%;
  }

  .roles{
  	font-size: 27px;
  }

  .sticky{
  	position: relative;
  }


  #ligne .menu + .menu{
	border-left: 0px solid white;
}

  #titre22h22{
	color : #a5cfc3;
	font-family: Courier New;
	font-weight: normal;
	font-size: 18vw;
  }
  #titreLesGarsQuiCherchent{
	color : #4084b8;
	font-family: Krungthep1;
	font-weight: normal;
	font-size: 10vw;

  }

  #titreVermillon{
	color: #ffbf00;
  	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
  }

  #titreHappiness47{
	color: #fce232;
	font-family:BebasNeue;
	font-weight: normal;
	letter-spacing: 0.14em;
	font-size: 12vw;
  }

  #titreMindie{
	color: #2bf1ff;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;

	font-weight: bold;
  }

  #titreMarionValentineTomWalker{
	color: #b4d5fa;
	font-family: Latha, 'Tamil MN', serif;
	font-weight: 100;
	letter-spacing: 0.04em;
	font-size: 10vw;
  }

  #titreOpenSpace{
	color: #cf0e0e;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	letter-spacing: -0.07em;
	font-size: 13vw;
  }

  #titreBlueInk{
	color:#03336e;
  }

  #titreLosingFaith{
	color: #e8d6b3;
  }

  #titreLegoStarWars{
	color: #c42f02;
	font-family: Star Wars;
	font-size: 12vw;
  }

  #titreLego3D{
	color: #ff3838;
	font-family: "Futura", sans-serif;
	font-weight: normal;
  }
  
}
